<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="home-form3" class="list">
      <label class="item item-input" id="home-input3">
        <span class="input-label">Previous Month(kWh)</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="home-input5">
        <span class="input-label">Current Month(kWh)</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="home-input11">
        <span class="input-label">First 200kWh Usage Rate</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="home-input12">
        <span class="input-label">After 200kWh Usage Rate</span>
        <input type="number" placeholder="">
      </label>
      <button id="home-button2" class="button button-positive button-block">Calculate Bill!</button>
      <label class="item item-input" id="home-input14">
        <span class="input-label">RM :</span>
        <input type="number" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>